In [6]:
# 1. Create a list called years_list, starting with the year of your birth, and each year thereafter until
# the year of your fifth birthday. For example, if you were born in 1980. the list would be years_list =
# [1980, 1981, 1982, 1983, 1984, 1985].
years_list = [x for x in range(1996, 1996+6)]
years_list

[1996, 1997, 1998, 1999, 2000, 2001]

In [7]:
# 2. In which year in years_list was your third birthday? Remember, you were 0 years of age for your
# first year
years_list[3]

1999

In [10]:
# 3.In the years list, which year were you the oldest?
years_list[-1]

2001

In [12]:
# 4. Make a list called things with these three strings as elements: &quot;mozzarella&quot;, &quot;cinderella&quot;,
# &quot;salmonella&quot;.

things = list(['mozzarella', 'cinderella','salmonella'])
things

['&quot;mozzarella&quot;', '&quot;cinderella&quot;', '&quot;salmonella&quot;']

In [20]:
# 5. Capitalize the element in things that refers to a person and then print the list. Did it change the
# element in the list?
things = [x.capitalize() for x in things]

In [22]:
# 6. Make a surprise list with the elements &quot;Groucho,&quot; &quot;Chico,&quot; and &quot;Harpo.&quot;
surprise_list = ["Groucho", "Chico", "Harpo"]

In [25]:
# 7. Lowercase the last element of the surprise list, reverse it, and then capitalize it
surprise_list[-1].lower()

'&quot;harpo.&quot;'

In [26]:
surprise_list[-1][::-1].upper()

';TOUQ&.OPRAH;TOUQ&'

In [24]:
surprise_list[-1][::-1]

';touq&.opraH;touq&'

In [27]:
# 8. Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is
# chien, cat is chat, and walrus is morse.
e2f = {'dog':'chien','cat':'chat','walrus':'morse'}

In [28]:
# 9. Write the French word for walrus in your three-word dictionary e2f.
e2f['walrus']

'morse'

In [30]:
# 10. Make a French-to-English dictionary called f2e from e2f. Use the items method.
f2e = dict()
for x, y in e2f.items():
    f2e[y] = x

In [32]:
# 11. Print the English version of the French word chien using f2e.
f2e['chien']

'dog'

In [33]:
# 12. Make and print a set of English words from the keys in e2f.
e2f.keys()

dict_keys(['dog', 'cat', 'walrus'])

In [34]:
#13. Make a multilevel dictionary called life. Use these strings for the topmost keys: 'animals', 'plants', and 'other'. Make the 'animals' key refer to another dictionary with the keys 'cats', 'octopi', and 'emus'. Make the 'cats' key refer to a list of strings with the values 'Henri', 'Grumpy', and 'Lucy'. Make all the other keys refer to empty dictionaries.
life = {
    'animals':{'cats':['Henri', 'Grumpy', 'Lucy'], 'octopi': '', 'emus':''},
    'plants': '',
    'other': ''
}

In [35]:
# 14. Print the top-level keys of life.
life.keys()

dict_keys(['animals', 'plants', 'other'])

In [36]:
# 15.Print the keys for life['animals'].
life['animals'].keys()

dict_keys(['cats', 'octopi', 'emus'])

In [37]:
#16. Print the values for life['animals']['cats']
life['animals']['cats']

['Henri', 'Grumpy', 'Lucy']